@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

@keyframes startPulse {
  0% {
    background-image: url('/start_1.png');
  }
  50% {
    background-image: url('/start_2.png');
  }
  100% {
    background-image: url('/start_1.png');
  }
}

.start-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: startPulse 2s infinite;
}

@keyframes collectPulse {
  0% {
    background-image: url('/collect_1.png');
  }
  50% {
    background-image: url('/collect_2.png');
  }
  100% {
    background-image: url('/collect_1.png');
  }
}

.collect-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: collectPulse 2s infinite;
}

@keyframes bankPulse {
  0% {
    background-image: url('/bank_it_1.png');
  }
  50% {
    background-image: url('/bank_it_2.png');
  }
  100% {
    background-image: url('/bank_it_1.png');
  }
}

.bank-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: bankPulse 2s infinite;
}

.explosion {
  position: relative;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255,255,0,0.9) 0%, rgba(255,0,0,0.7) 70%, transparent 100%);
  animation: boom 0.1s ease-out forwards;
  opacity: 0;
}

@keyframes boom {
  0% {
    transform: scale(0.3);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
